.site-header {
  background-color: #2c3e50;
  padding: 20px 0;
}
.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.title{
  font-size: 36px;
  font-weight: 700;
  a{
    color: #ffffff;
    padding-left: 61px;

  }
}
.header-under{
  position: relative;
  color: #ff4848;
  text-transform: lowercase;
  a:before{
    position: absolute;
    top: 5px;
    left: -100px;
    width: 40px;
    height: 40px;
    content: '';
    background-color: #ff4848;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    &::after {
      position: absolute;
      content: '';
      top: 5px;
      left: -95px;
      width: 40px;
      height: 40px;
      background-color: #2c3e50;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }
  }
}
.header-navigation {
  li {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-left: 30px;
    a {
      color: #fff;
      li.current_page_item a {
        color: #ff4848;
      }
    }
  }
}





