.banner-wrapper{
  position: relative;
  h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform-translate:(-50%, -50%);
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    line-height: 24px;
  }
  .banner-img{
    width: 200px;
    &:after{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .3);
    }
  }
  img{
    min-width: 100%;
    min-height: 200px;
    .banner-wrapper{
      max-height: 400px;
      background: #000;
      overflow: hidden;
      img{
        width: 100%
      }

    }
  }
}
.section-content{
  padding: 60px 0;
}
.entry-post{
  position: relative;
  border-bottom: 1px solid;
}
.entry-post-thumbnail{
  position: relative;
  border-bottom: 1px solid;
  &:after{
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    background: #ffffff url("../img/vector-arrow-object.png") no-repeat center;
  }
}

.entry-post-content{
  padding: 20px;
  h2{
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }
  p{
    font-size: 9px;
    font-weight:400;
  }
}
.entry-post-date{
  text-align: center;
  padding: 10px;
  span{
    padding-left: 10px;
    position: relative;
    line-height: 10;
    font-size: 16px;
    font-weight: 700;
    &:before{
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      background-image: url("../img/vector-smart-object.png");
      width: 20px;
      height: 20px;
    }
  }

}
.blog-pagination{
  padding-top: 40px;
  .nav-links{
    a, span{
      display: inline-block;
      padding: 10px;
      color: #ffffff;
      background-color: #fff;
      font-size: 24px;
      font-weight: 700;
    }

  }
}
